<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293702570416-6f4rbuajfadhv0it9p5im3c5tc3d17pj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293702570416-6f4rbuajfadhv0it9p5im3c5tc3d17pj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>293702570416-pfd04jf3f1m5odmg1jeeoto5p7c7rjt8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6r8QT9cpygjmL4G3-Yt23b_L9cOlloGs</string>
	<key>GCM_SENDER_ID</key>
	<string>293702570416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itg.shaghlny</string>
	<key>PROJECT_ID</key>
	<string>shaghlny-ef694</string>
	<key>STORAGE_BUCKET</key>
	<string>shaghlny-ef694.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293702570416:ios:4c630a4bed85e178ef8675</string>
</dict>
</plist>